html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
body * {
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: 700;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.home .banner {
  height: calc(100vh - 40px);
  padding: 0;
  justify-content: space-between;
}
.home .banner .banner1 {
  margin-top: 40px;
}
.home .banner .banner2 {
  margin-top: auto;
}
.home .banner .wp-image-4219 {
  max-height: 30vh;
  width: auto;
}
.img-circle img,
img.img-circle {
  height: auto;
  clip-path: circle();
}
#primary p,
ol,
ul,
dl,
address {
  font-size: 1.2rem;
}
#primary,
.home #primary {
  padding: 30px 10%;
}
#primary h2,
.home #primary h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.home #primary {
  padding: 80px 10%;
}
#urg_msg {
  display: none;
}
#homefinal {
  padding-top: 4em;
}
#prefooter {
  text-align: center;
  padding: 6em 4em;
}