//Quick and Dirty YYCD

//palette

@purple: #38427a;
@violet: #5a65a1;
@offwhite: #fffaf0;
@red: #e23b2a;
@gold: #eda318;
@cream: #fbf5e4 ;
@black: #1f1f1f; //BLACK

@bodyfont: "Lato",Helvetica, Arial, sans-serif;
@displayfont: 'Dancing Script', 'Lato', Arial, sans-serif;


//responsive
@superwide: ~ "only screen and (min-width: 1200px)";
@wide: ~ "only screen and (max-width: 1200px)";
@midplussize: ~ "only screen and (max-width: 920px)";
@midsize: ~ "only screen and (max-width: 850px)";
@mobile: ~ "only screen and (max-width: 650px)";
@wpbreak: ~ "only screen and (max-width: 782px)";
@mapnotmobile: ~ "only screen and (min-width: 600px)";
@notmobile: ~ "only screen and (min-width: 650px)";
@tiny: ~ "only screen and (max-width: 500px)";
@macbook: ~ "only screen and (max-width: 1400px)";
//setup
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
 
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;

    * {
        -ms-hyphens: none;
        -webkit-hyphens: none;
        hyphens: none;
    }
}


i, em {
    font-style: italic;
}

b, strong {
    font-weight: 700;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.home .banner {
    height: calc(100vh - 40px);
    padding: 0;
    justify-content: space-between;
    .banner1 {
        margin-top: 40px;
    }
    .banner2 {
        margin-top: auto;
    }

    .wp-image-4219 {
        max-height: 30vh;
        width: auto;
    }
}
.img-circle img, img.img-circle {
    height: auto;
    clip-path: circle();
}

#primary p, ol, ul, dl, address {

    font-size: 1.2rem;

}

#primary, .home #primary {
    h2 {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    padding: 30px 10%;
}
.home #primary {

    padding: 80px 10%;
}
#urg_msg {
    display: none;
}
#homefinal {
    padding-top: 4em;
}
#prefooter {
    text-align: center;
    padding: 6em 4em;
}